<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1><%= title %></h1>

        <div class="alert alert-primary" role="alert">
            Algebra Operations
        </div>

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="select">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#selectContent" aria-expanded="true" aria-controls="selectContent">
                            Select
                        </button>
                    </h2>
                </div>

                <div id="selectContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/select">
                            <button type="submit" class="btn btn-primary">SELECT</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="insert">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#insertContent" aria-expanded="true" aria-controls="insertContent">
                            Insert
                        </button>
                    </h2>
                </div>

                <div id="insertContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/insert">
                            <input type="number" class="form-control" name="room_number" placeholder="Room Number">
                            <br>
                            <input type="text" class="form-control" name="pic" placeholder="PIC">
                            <br>
                            <input type="text" class="form-control" name="about" placeholder="About">
                            <br>
                            <button type="submit" class="btn btn-primary">INSERT</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="update">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#updateContent" aria-expanded="true" aria-controls="updateContent">
                            Update
                        </button>
                    </h2>
                </div>

                <div id="updateContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/update">
                            Untuk <input type="number" class="form-control" name="room_number" placeholder="Room Number">
                            <br>
                            <input type="text" class="form-control" name="pic" placeholder="PIC">
                            <br>
                            <input type="text" class="form-control" name="about" placeholder="About">
                            <br>
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="projection">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#projectionContent" aria-expanded="true" aria-controls="projectionContent">
                            Projection
                        </button>
                    </h2>
                </div>

                <div id="projectionContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/projection">
                            Nama Kolom
                            <select class="form-control" name="column">
                                <option>room_number</option>
                                <option>pic</option>
                                <option>about</option>
                            </select>
                            <br>
                            <button type="submit" class="btn btn-primary">PROJECTION</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="union">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#unionContent" aria-expanded="true" aria-controls="unionContent">
                            Union
                        </button>
                    </h2>
                </div>

                <div id="unionContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/union">
                            <button type="submit" class="btn btn-primary">UNION</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="join">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#joinContent" aria-expanded="true" aria-controls="joinContent">
                            Join
                        </button>
                    </h2>
                </div>

                <div id="joinContent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" action="/join">
                            <button type="submit" class="btn btn-primary">JOIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <% if (typeof results != "undefined") { %>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room Number</th>
                <th scope="col">PIC</th>
                <th scope="col">About</th>
                <th scope="col">Valid Time</th>
            </tr>
            </thead>
            <tbody>
            <% if (results !== undefined) { results.forEach(function(row) { %>
            <tr>
                <th scope="row"><%= row.id %></th>
                <td><%= row.room_number %></td>
                <td><%= row.pic %></td>
                <td><%= row.about %></td>
                <td><%= row.valid_time %></td>
            </tr>
            <% })}%>
            </tbody>
        </table>
        <% } %>

        <% if (typeof join_results != "undefined") { %>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room Number</th>
                <th scope="col">PIC</th>
                <th scope="col">About</th>
                <th scope="col">Room Doctor</th>
                <th scope="col">Valid Time</th>
            </tr>
            </thead>
            <tbody>
            <% if (join_results !== undefined) { join_results.forEach(function(row) { %>
            <tr>
                <th scope="row"><%= row.id %></th>
                <td><%= row.room_number %></td>
                <td><%= row.pic %></td>
                <td><%= row.about %></td>
                <td><%= row.name %></td>
                <td><%= row.valid_time %></td>
            </tr>
            <% })}%>
            </tbody>
        </table>
        <% } %>

    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
